@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body{
// background-color: yellow;
font-family: 'Ubuntu', sans-serif;

    nav{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        padding-top: 15px;
    
        @media all and (max-width: 870px){
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        li{
            background-color: rgb(173, 173, 173);
            width: 220px;
            height: 150px;
    
            border-radius: 10px;
    
    
            cursor: pointer;

            &:hover{
                filter: drop-shadow(0 0 0.8rem rgb(20, 173, 220));
                background-color: rgb(255, 255, 255);
            }
            
    
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.3rem;
                color: black;
                height: 100%;
                text-decoration: none;
                justify-content: space-around;
    
                &:hover{
                    color: rgb(20, 173, 220);
                }
    
                ion-icon{
                    font-size: 5rem;
                    padding-top: 20px;
                }
    
                div{
                    padding: 15px;
                }
            }
        }
    }
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    border-top: 1px solid lightgray;
    font-size: 0.9rem;

    a{
        text-decoration: none;
    }

    @media all and (max-width: 870px){
        margin-top: 10px;
        position: relative;
    }
}
